In [2]:
import pandas as pd
data1 = {'cities' : ['lahore','karachi',], 'provinces' : ['punjab','sindh']}
frame1 = pd.DataFrame(data1)
frame1

    cities provinces
0   lahore    punjab
1  karachi     sindh

In [3]:
data2 = {"cities": ["islamabad","karachi","peshawar","quetta"], "provinces": ["capital","sindh",
"KPK","Balochistan"]}
frame2 = pd.DataFrame(data2)
frame2

      cities    provinces
0  islamabad      capital
1    karachi        sindh
2   peshawar          KPK
3     quetta  Balochistan

In [4]:
frame3 = pd.concat([frame1,frame2],ignore_index = True)
frame3

      cities    provinces
0     lahore       punjab
1    karachi        sindh
2  islamabad      capital
3    karachi        sindh
4   peshawar          KPK
5     quetta  Balochistan

In [5]:
frame3.drop_duplicates(inplace=True)
frame3

      cities    provinces
0     lahore       punjab
1    karachi        sindh
2  islamabad      capital
4   peshawar          KPK
5     quetta  Balochistan

In [6]:
frame3.sort_values(by='provinces',inplace=True, ignore_index=True)
frame3

      cities    provinces
0     quetta  Balochistan
1   peshawar          KPK
2  islamabad      capital
3     lahore       punjab
4    karachi        sindh